.container {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border: 1px solid #999;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
}

.showBtn {
  margin-top: 5px;
  width: 70px;
}

.submitBtn {
  padding: 10px;
  width: 100%;
  background: black;
  color: white;
  border: none;
  border-radius: 4px;
}

.submitBtn:disabled {
  background: gray;
}
